body {
	text-align: center;
}
#banner {
	display: block;
	margin: auto;
	height: 70px;
	width: 70px;
	background-position: center;
	float: left;
}

.active:hover {
	background-color: #ddd;
	float: left;
}

table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
}

table {
	width: 100%;
}

th {
	background-color: gray;
	color: aliceblue;
}

.topnav {
	overflow: hidden;
	margin-bottom: 0;
}

a {
	float: left;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	color: rgb(100, 99, 99);
}
a:hover {
	background-color: #ddd;
	color: black;
}
