body {
	text-align: center;
}
#banner {
	display: block;
	margin: auto;
	height: 70px;
	width: 70px;
	background-position: center;
	float: left;
}

.active:hover {
	background-color: #ddd;
	float: left;
}

table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
}

table {
	width: 100%;
}

th {
	background-color: gray;
	color: aliceblue;
}
