#logo{
    height: 70px;
    width: 70px;
} 
.topnav {
    overflow: hidden;
    margin-bottom: 0;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
h1 {
    text-align: center;
}
.question {
    padding: 10px;
}
.question input{
    margin: 10px;
}
/* .footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer button{
    margin: 10px;
} */