body {
	text-align: center;
}

#banner {
	width: 70%;
	height: 405px;
	background-position: center;
}

button {
	background-color: #0476aa;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}

button:hover {
	opacity: 0.6;
}
