#banner {
	display: block;
	margin: auto;
	height: 100px;
	width: 100px;
	background-position: center;
	float: left;
}

a:hover {
	background-color: #ddd;
	float: left;
}

body {
	text-align: center;
}

.textbox {
	width: 100px;
	height: 50px;
	border: 1px solid black;
}

ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

button {
	background-color: #0476aa;
	color: white;
	border: none;
	cursor: pointer;
}


.topnav {
	overflow: hidden;
	margin-bottom: 0;
}

a {
	float: left;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	color: rgb(100, 99, 99);
}
a:hover {
	background-color: #ddd;
	color: black;
}
