#banner {
	width: 70%;
	height: 405px;
	background-position: center;
}

body {
	text-align: center;
}

.textbox {
	width: 100px;
	height: 50px;
	border: 1px solid black;
}

ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

button {
	background-color: #0476aa;
	color: white;
	border: none;
	cursor: pointer;
}
