/* https://www.w3schools.com/howto/howto_css_login_form.asp       10/13/2021 */

body {
	text-align: center;
}

#banner {
	display: block;
	margin: auto;
	height: 70px;
	width: 70px;
	background-position: center;
	float: left;
}

.active:hover {
	background-color: #ddd;
	float: left;
}

table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
}

table {
	width: 100%;
}

th {
	background-color: gray;
	color: aliceblue;
}

.nav li {
	border: 1px 1px solid black;
	border-width: 1px 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	display: inline;
}

.nav a {
	display: inline-block;
	padding: 10px;
	color: black;
}

li a:hover {
	background-color: gray;
}

@media screen and (max-height: 800px) {
	#banner {
		height: 300px;
		width: 300px;
	}
}

@media screen and (max-height: 675px) {
	#banner {
		height: 200px;
		width: 200px;
	}
}

@media screen and (max-height: 600px) {
	#banner {
		height: 100px;
		width: 100px;
	}
}

@media screen and (max-height: 500px) {
	#banner {
		height: 50px;
		width: 50px;
	}
}

@media screen and (max-height: 450px) {
	#banner {
		display: none;
	}
}
