#banner {
    display: block;
    margin: auto;
	width: 500px;
	height: 405px;
	background-position: center;
    /* margin-bottom: 10px; */
}

.header {
    display: block;
    text-align: center;
}
.row {
    display: flex;
    justify-content: space-between;
}

/* .vid {
    display: inline-flex;
    padding: 30px;
} */