<% if(practices) { %> <% practices.forEach(function (practice) { %>
<div class="class">
  <a href="../instructorCoursePage"
    ><div class="container">
      <h2><%= practice.className %></h2>
      <div class="class-info">
        <b><%= practice.classId %></b>
        <br />
        <%= practice.ClassInstructor %>
      </div>
    </div></a
  >
</div>
<% }) %> <% } else {%>
<div>
  <h3>No Classes Yet!</h3>
</div>
<% } %>
