<%= classes[0].classInstructors[0].firstName %>
<tr>
  <td><%= classes[0].classInstructors[0].type%></td>
  <td>
    <%= classes[0].classInstructors[0].firstName +' '+
    classes[0].classInstructors[0].lastName%>
  </td>
  <td>
    <% classes.forEach(function(course){%> <%= course.className %> <%}) %>
  </td>
</tr>
