<!-- need to put a for each so that we have all the instructors that are teach this class -->
<script>
  function myFunction() {
    alert('You have joined the waitlist!');
  }
</script>

<% course.classInstructors.forEach(function (instructor) {%>
<div class="instructor-btn">
  <form action="studentHomePage/<%= course.id%>" method="PUT">
    <input
      type="submit"
      class="instructor-waitlist"
      value="Join Waitlist"
      id="teacher"
      onclick="myFunction()"
    />
    <label for="teacher"
      ><%= instructor.firstName %> <%= instructor.lastName %>
    </label>
  </form>
</div>
<%}) %>
