<input type="button" class="instructor-waitlist" value="Remove" id="teacher" />
<label for="teacher"><%= user.firstName%> <%= user.lastName%> </label>
<br />
<!-- need to be able to add more instructors with loop -->
