<!doctype html>
<html>
    <title>Admin View</title>
    <link rel="stylesheet" href="../CSS/adminView.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <a class="active" href="/index.html">
        <img id="banner" src="../Images/chalkboard-logo.png" alt="chalkboard Logo" />
    </a>

    <div class="navbar-right" style="float: right !important">
        <a class="nav-item" href="./index.html">Sign Out</a>
    </div>
  
    <table>
        <tr>
            <th>Enrollment Type</th>
            <th>Name</th>
            <th>Classes</th>
            <th>Search Results</th>
        </tr>

        <%- include('./partials/studentTable.ejs') -%>
      
        
    </table>
  </body>
</html>