<!DOCTYPE html>
<html lang="en">
	<head>
		<title><% user.firstName  %>'s Home Page</title>
		<link rel="stylesheet" href="../CSS/homePageInstructor.css" />
	</head>
	<body>
		<a class="active" href="homePageInstructor.html">
			<img id="banner" src="../Images/chalkboard-logo.png" alt="chalkboard Logo" />
		</a>
		<div class="navbar-right" style="float: right !important">
			<a class="nav-item" href="./index.html">Sign Out</a>
		</div>
		<br />
		<br />
		<br />
		<div class="dropdown">
			<button class="dropbtn">Menu</button>
			<div class="dropdown-content">
				<a href="class-search">Search For Classes</a>
				<a href="createCourse">Create New Course</a>
				<a href="./roster.html">Roster</a>
			</div>
		</div>

		<br />

       
        <%- include ('./partials/instructorClass.ejs') %> 
	
	</body>
</html>
