<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Roster</title>
    <link rel="stylesheet" href="/CSS/roster.css" />
  </head>

  <body>
    <a class="active" href="instructorHomePage">
      <img
        id="banner"
        src="../Images/chalkboard-logo.png"
        alt="chalkboard Logo"
      />
    </a>
    <div class=".top-nav" style="float: right !important">
      <a class="nav-item" href="logout">Sign Out</a>
    </div>

    <!-- <ul class="nav">
      <li><a href="#class1">Class 1</a></li>
      <li><a href="#class2">Class 2</a></li>
      <li><a href="#class3">Class 3</a></li>
      <li><a href="#class4">Class 4</a></li>
      <li><a href="#class5">Class 5</a></li>
    </ul> -->

    <br />
    <h1>Roster</h1>
    <br />
    <%- include('./partials/classRoster.ejs') %>
  </body>
</html>
