<% practices.forEach(function (student) { %>
    <tr>
      <td><%= student.type%></td> 
      <td><%= student.firstName +' '+ student.lastName%></td>
      <td><% for (var i=0; i< student.classes.length; i++) { %>
            <%= student.classes[i].className + ' '%>
        <%}%>
    </td>
      
    </tr>
  <% }) %>