/* https://www.w3schools.com/howto/howto_css_login_form.asp       10/13/2021*/

* {
  font-family: 'Cabin', sans-serif;
  color: rgb(100, 99, 99);
}
#logo {
  height: 70px;
  width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
header {
  text-align: center;
}
h1 {
  text-align: center;
  color: rgb(100, 99, 99);
}

.page {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
.container {
  flex: 1;
  /* display: flexbox; */
  padding: 25px;
  padding-top: 5px;
  margin: auto;
  justify-content: space-evenly;
  font-size: 20px;
}

input {
  margin: 5px;
  padding: 10px;
  /* width: 200px; */
}
.input input[type='text'],
input[type='email'],
input[type='password'] {
  width: 300px;
  padding: 10px;
  font-size: 15px;
}

.input label {
  padding: 5px;
}
.checkboxes {
  display: flex;
  padding-bottom: 10px;
  font-size: 15px;
  /* width: 10px; */
}
button {
  background-color: #0476aa;
  color: white;
  width: 325px;
  height: 40px;
  font-size: 20px;
  margin: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button > a {
  text-decoration: none;
  color: white;
}

button:hover {
  opacity: 0.6;
  text-decoration: underline;
}

hr {
  border: 1px solid rgb(100, 99, 99);
  width: 85%;
}
.vertical {
  color: rgb(100, 99, 99);
}
.verticalLine {
  border-left: 2px solid rgb(100, 99, 99);
}

a {
  text-decoration: none;
  color: rgb(100, 99, 99);
}

@media screen and (max-width: 780px) {
  .verticalLine {
    visibility: hidden;
  }
  .page {
    display: block;
    width: 100%;
  }
  .signin-container,
  .signup-container {
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    display: table;
  }
  h2,
  h3 {
    text-align: center;
  }
  label {
    font-size: 20px;
  }
  .input input {
    width: 300px;
    padding: 10px;
    font-size: 15px;
  }
  button {
    width: 325px;
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .verticalLine {
    visibility: hidden;
  }
  .page {
    display: block;
    width: 100%;
  }
  .signin-container,
  .signup-container {
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    display: table;
  }
  h2,
  h3 {
    text-align: center;
    font-size: 25px;
  }
  label {
    font-size: 18px;
  }
  .input input {
    width: 250px;
    padding: 10px;
    font-size: 15px;
  }
  button {
    width: 275px;
    font-size: 18px;
  }
}

/* if the screen is at most 450px wide (small)*/
@media screen and (max-width: 450px) {
  /* * {
    font-size: 15px;
  } */
  .verticalLine {
    visibility: hidden;
  }
  .page {
    display: block;
    width: 100%;
  }
  .signin-container,
  .signup-container {
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    display: table;
  }
  h2,
  h3 {
    text-align: center;
    font-size: 20px;
  }
  label {
    font-size: 15px;
  }
  .input input {
    width: 200px;
    padding: 10px;
    font-size: 15px;
  }
  button {
    width: 225px;
    font-size: 15px;
  }
}
