/* https://www.w3schools.com/howto/howto_css_login_form.asp       10/13/2021 */

body {
	text-align: center;
}

  
  a {
	float: left;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	color: rgb(100, 99, 99);
  }
  
  a:hover {
	background-color: #ddd;
	color: black;
  }

#banner {
	display: block;
	margin: auto;
	height: 70px;
	width: 70px;
	background-position: center;
	float: left;
}

.active:hover {
	background-color: #ddd;
	float: left;
}

table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
}

table {
	width: 100%;
}

th {
	background-color: gray;
	color: aliceblue;
}

.nav li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	display: inline;
}

.nav a {
	display: inline-block;
	padding: 10px;
	color: black;
}

li a:hover {
	background-color: gray;
}
